<link rel="stylesheet" href="/styles/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<div class="header">
    <div class="heading">
      <h1>TECH <span style="color: #EE224A;">INSIGHTS</span> HUB</h1>
      <p>Your gateway to future innovations</p>
    </div>
  </div>