<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></head>
<body class="viewbody ">
    <%- include('header.ejs') %>

    <div id="sidenav">
        <div id="post">
          <a href="/"><button type="button" class="btn btn-danger mx-5 my-3">Go Back</button> </a>    
         </div>
      
        <div class="sidebar">
            <a href="/"><p>Home</p></a>
          <p><a href="profile.ejs">Profile</p></a>
          <p><a href="settings.ejs">Settings</p></a>
        </div>
      </div>


    <div class="View">
      
      
      <% if (selectedPost) { %>
        <h4 class="viewtitle">
           <%= selectedPost.title %> 
        </h4>
        <h4 class="viewdescription">
            <%= selectedPost.description %>
        </h4>
        <p class="content"><%= selectedPost.content %></p>
    <% } else { %>
        <p class="start">Invalid post or post not found.</p>
    <% } %></div>

    <!-- Add this form for updating the post in view.ejs -->
<!-- Add this form for updating the post in view.ejs -->



    


</body>
</html>